<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <%- nav %>
  <h1>Account Management</h1>
  <% if (message) { %>
    <p><%= message %></p>
  <% } %>
  <p>Name: <%= account.firstname %> <%= account.lastname %></p>
  <p>Email: <%= account.email %></p>
  <a href="/accounts/update/<%= account.account_id %>">Update Account Info</a>
</body>
</html>