<!-- views/account/update-account.ejs -->
<h1>Update Account</h1>

<% if (errors) { %>
  <ul>
    <% errors.forEach(error => { %>
      <li class="error"><%= error %></li>
    <% }) %>
  </ul>
<% } %>

<form action="/account/update" method="POST">
  <input type="hidden" name="account_id" value="<%= account.account_id %>">
  <label>First Name: <input type="text" name="firstname" value="<%= account.firstname %>" required></label>
  <label>Last Name: <input type="text" name="lastname" value="<%= account.lastname %>" required></label>
  <label>Email: <input type="email" name="email" value="<%= account.email %>" required></label>
  <input type="submit" value="Update Account">
</form>

<h2>Change Password</h2>
<form action="/account/password" method="POST">
  <input type="hidden" name="account_id" value="<%= account.account_id %>">
  <label>New Password: <input type="password" name="password" required></label>
  <p>Password must be at least 8 characters.</p>
  <input type="submit" value="Change Password">
</form>