<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <%- nav %>
  <h1>Update Account</h1>
  <form action="/accounts/update-account" method="POST">
    <input type="hidden" name="account_id" value="<%= account.account_id %>">
    <label>First Name: <input type="text" name="firstname" value="<%= account.firstname %>" required></label><br>
    <label>Last Name: <input type="text" name="lastname" value="<%= account.lastname %>" required></label><br>
    <label>Email: <input type="email" name="email" value="<%= account.email %>" required></label><br>
    <input type="submit" value="Update Account">
  </form>

  <h2>Change Password</h2>
  <form action="/accounts/update-password" method="POST">
    <input type="hidden" name="account_id" value="<%= account.account_id %>">
    <label>New Password: <input type="password" name="password" required></label><br>
    <input type="submit" value="Change Password">
  </form>
</body>
</html>