<!DOCTYPE html>
<html>
<head>
  <title><%= vehicle.make %> <%= vehicle.model %></title>
</head>
<body>
  <h1><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></h1>
  <p>Description: <%= vehicle.description %></p>
  <p>Price: $<%= Number(vehicle.price).toLocaleString() %></p>
  <p>Miles: <%= Number(vehicle.miles).toLocaleString() %></p>
  <p>Color: <%= vehicle.color %></p>
</body>
</html>