<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <%- nav %>
  <main>
    <h1>Classification Inventory</h1>
    <ul>
      <% inventory.forEach(vehicle => { %>
        <li>
          <a href="/inv/detail/<%= vehicle.inv_id %>">
            <%= vehicle.inv_make %> <%= vehicle.inv_model %>
          </a>
        </li>
      <% }) %>
    </ul>
  </main>
</body>
</html>