<h1><%= title %></h1>

<div class="inventory-list">
  <% vehicles.forEach(vehicle => { %>
    <div class="vehicle-item">
      <img src="<%= vehicle.inv_image %>" alt="<%= vehicle.inv_make %> <%= vehicle.inv_model %>">
      <h2><%= vehicle.inv_make %> <%= vehicle.inv_model %></h2>
      <p>Year: <%= vehicle.inv_year %></p>
      <p>Price: $<%= vehicle.inv_price.toLocaleString() %></p>
      <p>Miles: <%= vehicle.inv_miles.toLocaleString() %></p>
    </div>
  <% }) %>
</div>