<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include("partials/navigation") %>

    <% if (success && success.length) { %>
      <div class="flash success"><%= success %></div>
    <% } %>

    <h1>Welcome to Vehicle Inventory</h1>
  </body>
  <%- include("partials/footer") %>
</html>
