<h1>Update Account</h1>

<form action="/accounts/update" method="POST">
  <input type="hidden" name="account_id" value="<%= account.account_id %>">
  <label>First Name: <input type="text" name="firstname" value="<%= account.firstname %>" required></label>
  <label>Last Name: <input type="text" name="lastname" value="<%= account.lastname %>" required></label>
  <label>Email: <input type="email" name="email" value="<%= account.email %>" required></label>
  <input type="submit" value="Update Account">
</form>

<h2>Change Password</h2>
<form action="/accounts/password" method="POST">
  <input type="hidden" name="account_id" value="<%= account.account_id %>">
  <label>New Password: <input type="password" name="password" required></label>
  <input type="submit" value="Change Password">
</form>