<!DOCTYPE html>
<html>
<head>
  <title>Vehicle Detail</title>
</head>
<body>
  <h1><%= vehicle.make %> <%= vehicle.model %> (<%= vehicle.year %>)</h1>
  <p>Price: $<%= vehicle.price %></p>
  <p>Classification: <%= vehicle.classification_name %></p>
  <a href="/">Back to Home</a>
</body>
</html>