<h1><%= vehicle.inv_make %> <%= vehicle.inv_model %></h1>
<div class="vehicle-container">
    <img src="<%= vehicle.inv_image %>" alt="<%= vehicle.inv_make %> <%= vehicle.inv_model %>">
    <div class="vehicle-info">
        <p>Year: <%= vehicle.inv_year %></p>
        <p>Price: $<%= Number(vehicle.inv_price).toLocaleString() %></p>
        <p>Mileage: <%= Number(vehicle.inv_miles).toLocaleString() %> miles</p>
        <p>Color: <%= vehicle.inv_color %></p>
        <p>Description: <%= vehicle.inv_description %></p>
    </div>
</div>