<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('../partials/header') %>
  <main class="vehicle-detail">
    <div class="vehicle-info">
      <h2><%= vehicle.inv_make %> <%= vehicle.inv_model %></h2>
      <p>Year: <%= vehicle.inv_year %></p>
      <p>Price: $<%= vehicle.inv_price.toLocaleString() %></p>
      <p>Miles: <%= vehicle.inv_miles.toLocaleString() %></p>
      <p>Color: <%= vehicle.inv_color %></p>
    </div>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>