<h1>Add Vehicle</h1>

<% if (messages.success.length > 0) { %>
  <div class="notice success">
    <% messages.success.forEach(msg => { %><p><%= msg %></p><% }) %>
  </div>
<% } %>

<% if (messages.warning.length > 0) { %>
  <div class="notice warning">
    <% messages.warning.forEach(msg => { %><p><%= msg %></p><% }) %>
  </div>
<% } %>

<form action="/inv/addInventory" method="POST">

  <label for="classification_id">Classification</label>
  <%- classificationSelect %>

  <label for="inv_make">Make</label>
  <input name="inv_make" id="inv_make" type="text" required value="<%= inv_make %>">

  <label for="inv_model">Model</label>
  <input name="inv_model" id="inv_model" type="text" required value="<%= inv_model %>">

  <label for="inv_year">Year</label>
  <input name="inv_year" id="inv_year" type="number" required value="<%= inv_year %>">

  <label for="inv_price">Price</label>
  <input name="inv_price" id="inv_price" type="number" required value="<%= inv_price %>">

  <label for="inv_miles">Miles</label>
  <input name="inv_miles" id="inv_miles" type="number" required value="<%= inv_miles %>">

  <label for="inv_color">Color</label>
  <input name="inv_color" id="inv_color" type="text" required value="<%= inv_color %>">

  <label for="inv_description">Description</label>
  <textarea name="inv_description" id="inv_description"><%= inv_description %></textarea>

  <!-- Default images -->
  <input type="hidden" name="inv_image" value="/images/no-image.png">
  <input type="hidden" name="inv_thumbnail" value="/images/no-image-tn.png">

  <button type="submit">Add Vehicle</button>
</form>