<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Add Vehicle</h1>
  <% if(errors.length > 0) { %>
    <ul style="color:red;">
      <% errors.forEach(e => { %><li><%= e.msg %></li><% }) %>
    </ul>
  <% } %>
  <form method="POST" action="/inv/add-vehicle">
    <label for="inv_make">Make:</label>
    <input type="text" name="inv_make" id="inv_make" required value="<%= data.inv_make || '' %>"><br>

    <label for="inv_model">Model:</label>
    <input type="text" name="inv_model" id="inv_model" required value="<%= data.inv_model || '' %>"><br>

    <label for="inv_year">Year:</label>
    <input type="number" name="inv_year" id="inv_year" required value="<%= data.inv_year || '' %>"><br>

    <label for="classificationList">Classification:</label>
    <%= classificationList %><br>

    <button type="submit">Add Vehicle</button>
  </form>
</body>
</html>