<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../partials/navigation") %>

    <h1><%= title %></h1>
    <%- grid %>

    <%- include("../partials/footer") %>
  </body>
</html>
