<%- include("../partials/head") %>

<body>
  <header>
    <%- include("../partials/header") %>
  </header>

  <nav>
    <%- nav %>
  </nav>

  <main>
    <h1><%= title %></h1>

    <%- grid %>
  </main>

  <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>